<div class="p-4  bg-light mb-1 border" style="margin-top: 10px;">
  <form>
    <div class="form-group row mb-2">
      <label for="mmAdress" class="col-sm-2 col-form-label">Metamask adress</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="mmAdress" value="{{metamaskAddress}}" name="mmAdress">
      </div>
    </div>
    <div class="form-group row mb-2">
      <label for="exampleFormControlSelect2" class="col-sm-2 col-form-label">Certyfication type</label>
      <div class="col-sm-10 mt-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="certTypeVal" name="inlineRadioOptions" id="inlineRadio1" value="architect">
          <label class="form-check-label" for="inlineRadio1">architect</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="certTypeVal" name="inlineRadioOptions" id="inlineRadio2" value="engagement management">
          <label class="form-check-label" for="inlineRadio2">engagement management</label>
        </div>
      </div>
    </div>
    <div class="form-group row mb-2">
      <label for="file" class="col-sm-2 col-form-label">Users file</label>
      <div class="col-sm-10">
        <input  (change)="onFileChange($event)" type="file" class="form-control fw-bolder fs-6 " id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
      </div>
    </div>

    <div class="text-center mt-4">
      <button type="submit" class="btn btn-outline-secondary fw-bolder fs-6" (click)="this.load()">Load data</button>
    </div>
         

  </form>
</div>

<cert-table [currentCertificates] = "currentCertificates" 
            [lapsedCertificates]="lapsedCertificates"
            [newCertificants]="newCertificants"></cert-table>


