<br>
<div>
  <br>
  <label for="certTypeSelect">Select certyfication type  </label>
  <select id="certTypeSelect" [(ngModel)]="certTypeVal">
    <option value="architect">architect</option>
    <option value="em">em</option>
  </select>
  <br>
  <label for="fileUpload">Select file  </label>
  <input id="fileUpload" type="file" (change)="onFileChange($event)" multiple="false" />


</div>

<br><br>
<table class="sjs-table">
    <tbody>
      <tr *ngFor="let user of nft_users">
        <td>{{ user.email }} </td>
        <td>{{ user.hashedEmail }} </td>
        <td>{{ user.firstName }} </td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.certType}} </td>
        <td>{{ user.certLevel}} </td>
        <td>{{ user.data_json_string}} </td>
        <td>{{ user.data_json_base64}} </td>
      </tr>
    </tbody>
</table>
