<div class="p-5  bg-light mb-3">
  <div class="form-floating">
    <select id="certTypeSelect" [(ngModel)]="certTypeVal" [required]="true" class="form-select">
      <option value="architect">architect</option>
      <option value="engagement management">engagement management</option>
    </select>
    <label class="fw-bolder fs-6" for="certTypeSelect">Select certyfiaction type</label>
  </div>
  <br><br>
  <div class="input-group mb-3">
    <button class="btn btn-outline-secondary fw-bolder fs-6" type="button" id="inputGroupFileAddon03" (click)="load()"  >Load</button>
    <input  (change)="onFileChange($event)" type="file" class="form-control fw-bolder fs-6 " id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
  </div>
</div>
<table class="table table-striped">
    <tbody>
      <tr *ngFor="let user of nft_users">
        <td>
          <div><button (click)="userSafeMint(user.hashedEmail,user.data_json_base64 )"> Safe Mint </button></div>
        </td>
        <td>{{ user.email }} </td>
        <td>{{ user.hashedEmail }} </td>
        <td>{{ user.firstName }} </td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.certType}} </td>
        <td>{{ user.certLevel}} </td>
        <td>{{ user.data_json_string}} </td>
        <td>{{ user.data_json_base64}} </td>
      </tr>
    </tbody>
</table>
