<a
  *ngIf="!isIdentified"
  href="https://metamask.io"
  class="btn btn-black btn-link"
  target="_blank"
>
  Please install metamask wallet to use this app
</a>
<button
  *ngIf="isIdentified && !isConnected"
  class="btn btn-black"
  (click)="connectMetamask()"
>
  Connect using Metamask
</button>
<ng-container *ngIf="isConnected">
  <p>You are connected with the adress {{getMetamaskAdress()}}</p>
  <a class="btn btn-black btn-link" routerLink="/usertable"> Now You can load data </a>
</ng-container>
