<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Sign In tests">
        <groups>
            <run>
                <include name="Login" />
            </run>
        </groups>
        <classes>
            <class name="ui.HomePageTests" />
        </classes>
    </test>

    <test name="Checking">
        <groups>
            <run>
                <include name="Check" />
            </run>
        </groups>
        <classes>
            <class name="ui.HomePageTests" />
        </classes>
    </test>
</suite>
